:root {
  --title-font: 'Bebas Neue', sans-serif;
  --right-column-margin: 45vw;
  --white: #F7F6F4;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: rgba(42, 42, 42, 0.98);
  background-image: url('img/back8.jpeg');
  background-size: cover;
}
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h2 {
  font-size: 2.5em;
  margin: 0 0 0 0;
  font-family: var(--title-font);
  color: var(--white);
  transition: all 0.5s ease-in-out;
  letter-spacing: 3px;
  line-height: 1em;
}
a {
  display: flex;
  align-items: center;
  padding: 10px;
  text-decoration: none;
}
.flex, .spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-container {
  position: relative;
  z-index: 1;
  overflow-y: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1vw;
}
.flex-column-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3vh;
  margin: 5vh 0 5vh 0;
}
.left-column, .right-column {
  flex-direction: column;
}
.left-column {
  position: fixed;
  width: 50%;
  height: 100%;
  /* padding-left: 5%; */
  top: 0;
  left: 0;
  justify-content: space-between;
}
.right-column {
  flex: 1;
  overflow-y: scroll;
  margin-left: var(--right-column-margin);
}
.shadow-border {
  box-shadow: 0px 10px 18px 10px rgba(0, 0, 0, 0.05);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}

/*! Views */
/*! Main */
.main-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-image: url("img/main_back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
#name {
  width: 100%;
  justify-content: flex-start;
  margin: 5% 0 2% 0;
  padding: 0;
  color: var(--white);
  font-family: var(--title-font);
  font-weight: 800;
  line-height: 0.85em;
}
.main__subtext{
  font-size: 3em;
  font-family: var(--title-font);
  letter-spacing: 1px;
}
#main-background {
  transition: transform 0.5s, opacity 0.5s;
}
#main-container {
  transition: transform 0.5s, opacity 0.5s;
}
.go {
  opacity: 0;
  transform: scale(0.95);
}
/* social links */
.social-links {
  display: flex;
  gap: 40px;
  flex-direction: row;
  width: 100%;
  padding-bottom: 10%;
  margin-left: 25%;
}
.social-links > * {
  transition: all 0.5s ease-in-out;
}
.social-links > *:hover{
  text-decoration: none;
  transform: scale(1.05);
}
.svg-CV {
  fill: var(--white);
  width: 4em;
  height: 4em;
}
.svg-link {
  fill: var(--white);
  width: 2.3em;
  height: 2.3em;
}
.link-text-white, .CV-text {
  color: var(--white);
  font-size: 2.5vh;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  text-decoration: none;
}
/* spinner loader */
.lds-dual-ring {
  display: inline-block;
  width: 100px;
  height: 100px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid var(--white);
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
.spinner {
  display: none;
}
.spinner  > h2 {
  font-size: 7vh;
  margin-right: 1vw;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*! CV */
.CV-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("img/CV_back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.cv-left-part, .cv-right-part {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 10px;
margin: 1em 0;
}
.cv-right-part {
flex: 1;
}
.cv-right-part > * {
  width: 62vw;
}
.cv-left-part > * {
  margin-left: 0.5vw;
  width: 33vw;
}
.CV-btn {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}
.CV-btn:hover {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.202);
  cursor: pointer;
}
.CV-text {
  color: var(--white);
  font-weight: 600;
  font-size: 5vh;
}
#CV-view {
  display: none;
  position: absolute;
  top: 0;
  height: 120vh;
  transition: transform 0.5s, opacity 0.5s;
  transform: translate3d(0, 0, 0);
  perspective: 1px;
}
.cv-block {
  background-color: rgba(42, 42, 42, 0.98);
  border-radius: 10px;
  padding: 10px;
}
.cv-block > * {
  display: flex;
  justify-content: center;
  color: var(--white);
}
.bio-text, .job-block > *  {
  font-size: 2.5vh;
  font-family: 'News Cycle', sans-serif;
  color: rgb(255, 238, 218);
}
.job-block, .uni-block {
  display: flex;
  flex-direction: column;
  color: var(--white);
  color: rgb(255, 238, 218);
}
.job-block {
  padding: 2vh;
  margin: 2vh 1vw 2vh 1vw;
  border: 1px solid rgb(255, 238, 218);
  border-radius: 10px;
}
.uni-block {
  text-align: center;
  margin: 0.5vh 0 2vh 0;
}
.uni-block > * {
  font-size: 2.4vh;
}
.course {
  font-weight: 700;
}
.cv-heading {
  color: rgb(249, 199, 128);
  margin-bottom: 0;
}
h1.cv-heading {
  margin-top: 1vh;
}
h2.cv-heading {
  font-size: 2.5em;
}
h3.cv-heading {
  margin: 0;
  color: bisque;
  font-size: 3vh;
}
.job-position {
  font-size: 3vh;
  font-weight: 700;
}
#container-diploma {
  margin-bottom: 3vh;
  padding: 5px;
}
.img-line {
  flex-wrap: wrap;
  gap: 5px;
}
.cv-diploma{
  width: 48%;
  height: 100%;
}
.cv-diploma-big {
  width: 50%;
  height: 100%;
}
.cv-diploma:hover {
  cursor: pointer;
}
/* dialog for diplomas */
dialog {
  position: fixed;
  opacity: 0;
  scale: 0;
  transition: all 0.5s;
}
dialog[open] {
  opacity: 1;
  scale: 1;
}
dialog::backdrop {
  background-color: #30210a6f;
}
.modal-img {
  width: 50vw;
}

.back-arrow {
  padding: 3vh;
  width: 7.5vw;
  height: 7.5vw;
  fill: rgb(249, 199, 128);
  transition: all 0.5s ease-in-out;
}
.back-arrow:hover {
  cursor: pointer;
  transform: scale(1.03);
  box-shadow: 0 0 0 3px var(--white);
}
.appear1, .appear2, .appear3, .appear4, .appear5 {
  height: auto;
  transition: all 1.2s;
  padding: 0;
  opacity: 0;
  transform:translateY(100px);
}
.visible-cv {
  opacity: 1;
  transform:translateY(0px);
  padding: 10px;
}

/*! projects - general */
.right-column {
  overflow: visible;
}
.flex-column-container {
  overflow: visible;
}
.project-card {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-color: rgba(15, 14, 3, 0.75);
  border: 1px solid gray;
  border-radius: 10px;
  color: black;
  width: 70%;
  height: 20vh;
  transition: all 0.5s;
  transform-origin: center;
}
.expanded {
  margin-left: calc(-1 * var(--right-column-margin));
  top: 0;
  width: 100vw;
  height: 101vh;
  /* transform: scale(1); */
  border-radius: 0;
  background-color: rgb(15, 14, 3);
  background-repeat: no-repeat;
  background-size: cover;
}
.project-btn {
  padding: 10px;
  border: none;
  cursor: pointer;
}
.projectDesc__big-text {
  margin: 15px 0;
}
.projectDesc__small-text, .projectDesc__medium-text, .feature-text {
  padding: 0 5px;
  margin: 0;
  font-size: 2vh;
  font-family: 'Playfair Display', serif;
  color: rgb(209, 209, 209);
  transition: all 0.5s ease-in-out;
  text-align: center;
}
.feature-text {
  font-size: 26px;
  color: var(--white);
  padding: 12px;
}
.project-card:hover {
  cursor: pointer;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
}
.darkened {
  background-color: rgba(3, 3, 3, 0.8);
}
.fade > * {
  color: rgb(76, 76, 76);
}
.server-text {
  color: var(--white);
}

.expanded:hover {
  cursor:default;
}
#projects-view {
  display: none;
}
.lang-line {
  margin: 1vh 0 1vh 0;
  display: flex;
  align-items: center;
  gap: 1vw;
}
.small-flag {
  width: 2vw;
}
.projectDesc-container {
  margin-top: 10px;
  transition: all 1s ease-in-out;
}
.project-card__content {
  justify-content: center;
}
.projectLink {
  width: 40%;
  padding: 15px;
  border: 1px solid var(--white);
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.65);
  text-decoration: none;
}
.projectLink span {
  font-size: 1.5em;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}
.linkContainer {
  gap:3vw;
}
.ExpandedCardContent {
  /* display: none; */
  margin-top: 20px;
  width: 80%;
  height: 0px;
  opacity: 0;
  justify-content: center;
  gap: 1vw;
  transition: all 1s ease-in-out;
}
.visible {
  /* display: flex; */
  opacity: 1;
  height: 50%;
}

.features-container {
  width: 100%;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  font-family: 'Playfair Display', serif;
}
.svg-project, .svg-project-white {
  fill: rgba(0, 0, 0, 0.65);
  width: 3em;
  height: 3em;
}
.svg-project-white {
  fill: var(--white);
}
.text3 {
  font-size: 2em;
}
.dev-ribbon {
  position: absolute;
  top: 144px;
  right: -70px;
  background-color: rgb(166, 0, 0);
  color: var(--white);
  padding: 5px 100px;
  border: 1px solid var(--white);
  transition: all 0.5s ease-in-out;
  transform: rotate(45deg); /* Rotate the ribbon */
  transform-origin: top right; /* Set rotation origin */
}
.dark-ribbon {
  background-color: rgb(77, 1, 1) !important;
  color: rgb(76, 76, 76) !important;
  border: 1px solid grey !important;
}

.projectLink:hover {
  animation: shimmer 1s infinite alternate;
}
@keyframes shimmer {
  1%, 18%, 22%, 25%, 53%, 57%, 99% {
    text-shadow:
      0 0 3px #fff,
      0 0 13px #fff,
      0 0 30px rgba(255, 247, 0, 0.862),
      0 0 50px rgb(193, 207, 0);
    box-shadow:
    0 0 10px rgba(255, 255, 255, 0.3),
    0 0 35px rgba(242, 255, 0, 0.2)
  }
  0%, 20%, 24%, 55%, 100% {       
    text-shadow: none;
    box-shadow: none;
  }
}

/*! BOOKS  */
.expanded.books{
  background-image: url("img/books_back.jpg");
}
.projectLink.books {
  background-color: rgba(221, 219, 219, 0.9);
}
.projectDesc__big-text.books, .projectDesc__small-text.books, 
.projectDesc__medium-text.books {
  color: var(--white);
}
.projectDesc__medium-text.books {
  font-size: 2em;
}
.projectDesc__big-text.books {
  letter-spacing: -3px;
  font-family: 'Tangerine', cursive;
  font-size: 11em;
  font-weight: 700;
  margin-right: 30px;
}
.features-container.books {
  background-color: rgba(2, 2, 2, 0.7);
  border: none;
}


/*! STOCKS  */
.expanded.stocks {
  background-image: url("img/stocks_back.jpeg");
}
.projectLink.stocks {
  background-color: rgba(182, 138, 16, 0.9);
}
.projectDesc__big-text.stocks, .projectDesc__small-text.stocks, .projectDesc__medium-text.stocks {
  -webkit-text-stroke: 1px var(--white);
  -webkit-text-fill-color: rgba(249, 205, 27, 0.831);
}
.projectDesc__medium-text.stocks {
  font-size: 5vh;
}
.projectDesc__big-text.stocks {
  font-size: 10em;
  font-family: var(--title-font);
  font-weight: 500;
  letter-spacing: -2px;
  margin: 10px 0 -20px 0;
  -webkit-text-stroke: 3px var(--white);
}
.features-container.stocks {
  background-color: rgba(182, 138, 16, 0.9);
}

/*! WORLD */
.expanded.world{
  background-image: url("img/world_back.jpg");
}
.projectLink.world {
  background-color: rgba(221, 219, 219, 0.9);
}
.projectDesc__big-text.world, .projectDesc__small-text.world, 
.projectDesc__medium-text.world, .feature-text.world {
  color: #1D1C13;
}
.projectDesc__small-text.world {
  font-size: 1.5em;
}
.projectDesc__big-text.world {
  margin: 25px 0;
  letter-spacing: -3px;
  font-family: 'Russo One', sans-serif;
}
.features-container.world {
  background-color: rgba(221, 219, 219, 0.9);
}


/*! PSYCHOLOGY */
.features-container.psychology {
  background-color: rgba(221, 219, 219, 0.9);
  border: 1px solid var(--white);
}



/*! --------------------------------------- Mobile devices --------------------------------------- */
.social-links-mobile {
  display: none;
}

@media screen and (max-width: 3000px) {
  #name {
    font-size: 6em;
  }
}

@media screen and (max-width: 1600px) {
  .projectDesc__small-text {
    font-size: 15px;
  }
  .projectDesc__medium-text {
    font-size: 18px;
  }
  .projectDesc__medium-text.world {
    font-size: 4vh;
    margin: 0 0 3vh 0;
  }
  .projectDesc__big-text {
    font-size: 52px;
  }
  .projectDesc__big-text.world {
    font-size: 7em;
  }

  .text1 {
    font-size: 2em;
  }

}

@media screen and (max-width: 1450px) {
  .left-column {
    padding-left: 2vw;
  }

}
/*! phones */
/* iphone pro max */
@media (orientation: portrait) and (max-width: 500px) {
  .social-links-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  .social-links-mobile > * {
    background-color: var(--white);
    font-size: 12px;
    width: 40%;
    height: 40px;
    padding: 5px;
    margin: 5px;
    border: 1px solid black;

  }
  .social-links-mobile > * > * {
    color: #1D1C13;
    fill: #1D1C13;
    width: 35px;
    height: 35px;
  }

  #main-container {
    display: flex;
    flex-direction: column;
  }
  .left-column {
    position: inherit;
    padding-left: 0;
    width: 100%;
  }
  .CV-btn, .social-links {
    display: none;
  }

  .right-column {
    margin-left: 0;
  }
  .project-card {
    width: 90%;
  }

  #name {
    font-size: 6em;
  }
  .main__subtext {
    padding: 0 5px;
    font-size: 3em;
  }
  .projectDesc__small-text {
    font-size: 16px;
  }
  .projectDesc__medium-text {
    font-size: 16px;
  }
  .projectDesc__big-text {
    font-size: 40px;
  }
}

/*! Tablets */
/* small iPad (landscape)*/
@media screen and (max-width: 1050px) and (orientation: landscape){
  #name {
    font-size: 6em;
  }
  .projectDesc__small-text {
    font-size: 13px;
  }
  .projectDesc__medium-text {
    font-size: 15px;
  }
  .projectDesc__big-text {
    font-size: 35px;
  }
}
/* normal iPad (landscape) */
@media screen and (max-width: 1200px) and (min-width: 1050px) and (orientation: landscape){
  #name {
    font-size: 7em;
  }
  .projectDesc__small-text {
    font-size: 15px;
  }
  .projectDesc__medium-text {
    font-size: 16px;
  }
  .projectDesc__big-text {
    font-size: 50px;
  }
}
/* big iPad (landscape) */
@media screen and (max-width: 1400px) and (min-width: 1200px) and (orientation: landscape){
  #name {
    font-size: 8em;
  }
  .projectDesc__small-text {
    font-size: 18px;
  }
  .projectDesc__medium-text {
    font-size: 20px;
  }
  .projectDesc__big-text {
    font-size: 45px;
  }
}

/* big iPad (portrait) */
@media screen and (max-width: 1050px) and (orientation: portrait) {
  .projectDesc__medium-text {
    font-size: 20px;
  }
  .social-links {
    flex-direction: column;
    gap: 3vh;
    align-items: center;
  }
}
/* iPad Air (portrait) */
@media screen and (max-width: 1050px) and (orientation: portrait) {
  #name {
    font-size: 6em;
  }
  .main__subtext {
    font-size: 3em;
  }
  .projectDesc__medium-text {
    font-size: 18px;
  }
  .projectDesc__big-text {
    font-size: 40px;
  }
  .svg-link {
    width: 40px;
    height: 40px;
  }
  .CV-btn {
    width: auto;
  }
  .svg-CV {
    width: 60px;
    height: 60px;
  }
}